# GITHUB: https://github.com/AVR-24/firstexercise.git

 ## Author
 Adri√°n Vega

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

# Some of the popular languages that Data Scientists use are:
+ Python
+ R
+ Julia
+ C++

# Some of the commonly used libraries used by Data Scientists include:

+ pandas
+ numpy
+ tensorflow

# **Objectives:**

*   List some of the commonly used libraries used by Data Scientists
*   List some Data Science Tools
*   Evaluating some arithmetic expressions in python

| Data Science Tools |
|---|
| Jupyter Notebooks |
| MySQL |
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
x = 200
y = x/60
print(y)

3.3333333333333335